.channel_text{
    text-align: left;
    margin-top: 15px;
}
.channel_1{
    text-align: left;
}
.channel_head{
    text-transform: uppercase;
    cursor: pointer;
}
.channel_head:hover{
    color: white;
}
/* .channel_list{

} */
.channels{
    margin: 4px 8px;
    padding: 6px 12px;
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
    /* background: rebeccapurple; */
    background-color: #2b2d31;
}
.channels:hover{
    color: white;
    font-weight: 500;
    background-color: #393b41;
}
.channels:hover .hash{
    color: #a9bac1 ;
}
.channels:hover .user{
    scale: 0.85;
    transform: scaleX(-1);
}

.hash{
    font-size: 20px;
    margin-right: 10px;
    color: #a9bac1 ;
}
.user{
    float: right;
    scale: 0;
}


.channel_voice{
    margin-top: 15px;
}
.speaker{
    scale: 0.85;
    margin-right: 10px;
    color: #a9bac1 ;
}
